/* Estructura principal y barra de reproducción */
:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: var(--dark-bg);
}

.main-header {
  padding: 1rem;
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--hover-bg);
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.app-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  margin: 0;
}

.main-nav a {
  color: var(--text-secondary);
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.main-nav a.active,
.main-nav a:hover {
  color: var(--text-primary);
}

.content-area {
  overflow-y: auto;
  padding: 1rem;
}

.now-playing-bar {
  grid-row: 3;
  background-color: #282828;
  padding: 0.3rem 1rem;
  border-top: 1px solid #121212;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .main-header {
    padding: 0.8rem;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .app-title {
    font-size: 1.2rem;
  }

  .main-nav a {
    margin-left: 0.8rem;
  }

  .content-area {
    padding: 0.8rem;
  }
}

.footer-content {
  width: 100%;
}

.footer-text {
  font-size: 0.7rem;
  margin: 0;
}

.social-links a {
  color: var(--text-secondary);
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  transition: color 0.2s ease;
}

.social-links a:hover {
  color: var(--text-primary);
}

.social-links i {
  margin-right: 0.2rem;
}
